extends layout

block content
  h1 Affluent task
  h3 Please choose a script to execute: 
  ol 
    li.margin-1
      a(href='/user') Fetch and store users to the DB from the Reqres.in service
    li.margin-1
      a(href='/date') Fetch and store Dates table to the DB from the Affluent service
    li.margin-1
      a(href='/dashboard') Fetch and show all data from the DB